@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital@1&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.7)),
    url("wp2737816-nature-night-hd-wallpaper.jpg");
  background-position: center;
  background-size: cover;
}
h1 {
  text-align: center;
  color: white;
  margin-top: 10rem;
  font-size: 3rem;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.container {
  text-align: center;
  margin-top: 7rem;
}
span {
  font-size: 4rem;
  font-family: "Montserrat", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  color: white;
  padding: 3rem;
}
